In [2]:
""" 
Map Assignment
1. Convert Celsius to Fahrenheit: Given a list of temperatures in Celsius, use map() to convert them to Fahrenheit. The formula is F = (C * 9/5) + 32.
Example
    celsius_temps = [0, 10, 20, 30]
    # Expected output: [32.0, 50.0, 68.0, 86.0]
"""

' Map Assignment\n1. Convert Celsius to Fahrenheit: Given a list of temperatures in Celsius, use map() to convert them to Fahrenheit. The formula is F = (C * 9/5) + 32.\nExample\n    celsius_temps = [0, 10, 20, 30]\n    # Expected output: [32.0, 50.0, 68.0, 86.0]\n\n3. Add Corresponding Elements: Given two lists of numbers of the same length, use map() to return a new list containing the sum of corresponding elements.\nExample    \n\tlist1 = [1, 2, 3]\n    list2 = [4, 5, 6]\n    # Expected output: [5, 7, 9]\n\n4. Concatenate Strings: Given two lists of strings, use map() to concatenate corresponding elements with a space in between.\nExample\n    first_names = ["John", "Jane"]\n    last_names = ["Doe", "Smith"]\n    # Expected output: ["John Doe", "Jane Smith"]\n\n5. Apply a Custom Function: Define a function that takes a string and returns its length. Then, use map() to apply this function to a list of strings, returning a list of lengths.\nExample\n    words = ["apple", "banana", "cherry"]\n    # Expected output: [5, 6, 6]'

In [3]:
"""
2. Capitalize a List of Names: Given a list of names, use map() to return a new list where each name is capitalized.
Example
    names = ["alice", "bob", "charlie"]
    # Expected output: ["Alice", "Bob", "Charlie"]
"""

'2. Capitalize a List of Names: Given a list of names, use map() to return a new list where each name is capitalized.\nExample\n    names = ["alice", "bob", "charlie"]\n    # Expected output: ["Alice", "Bob", "Charlie"]'

In [4]:
"""
3. Add Corresponding Elements: Given two lists of numbers of the same length, use map() to return a new list containing the sum of corresponding elements.
Example    
	list1 = [1, 2, 3]
    list2 = [4, 5, 6]
    # Expected output: [5, 7, 9]
"""

'3. Add Corresponding Elements: Given two lists of numbers of the same length, use map() to return a new list containing the sum of corresponding elements.\nExample    \n\tlist1 = [1, 2, 3]\n    list2 = [4, 5, 6]\n    # Expected output: [5, 7, 9]\n'

In [5]:
"""
4. Concatenate Strings: Given two lists of strings, use map() to concatenate corresponding elements with a space in between.
Example
    first_names = ["John", "Jane"]
    last_names = ["Doe", "Smith"]
    # Expected output: ["John Doe", "Jane Smith"]
"""

'\n4. Concatenate Strings: Given two lists of strings, use map() to concatenate corresponding elements with a space in between.\nExample\n    first_names = ["John", "Jane"]\n    last_names = ["Doe", "Smith"]\n    # Expected output: ["John Doe", "Jane Smith"]\n'

In [6]:
""" 
5. Apply a Custom Function: Define a function that takes a string and returns its length. Then, use map() to apply this function to a list of strings, returning a list of lengths.
Example
    words = ["apple", "banana", "cherry"]
    # Expected output: [5, 6, 6]
"""

' \n5. Apply a Custom Function: Define a function that takes a string and returns its length. Then, use map() to apply this function to a list of strings, returning a list of lengths.\nExample\n    words = ["apple", "banana", "cherry"]\n    # Expected output: [5, 6, 6]\n'

In [7]:
"""Filter and Reduce Assignment
1. Filter Strings by Length
Given a list of strings, use filter() to create a new list containing only the strings with a length greater than 5.
Example
words = ["apple", "banana", "cat", "dog", "elephant", "frog"]
"""

'Filter and Reduce Assignment\n1. Filter Strings by Length\nGiven a list of strings, use filter() to create a new list containing only the strings with a length greater than 5.\nExample\nwords = ["apple", "banana", "cat", "dog", "elephant", "frog"]\n\n2. Filter Students by Grade\nGiven a list of dictionaries, where each dictionary represents a student with name and grade keys, use filter() to extract students with a grade of 90 or higher.\nExample\nstudents = [\n    {"name": "Alice", "grade": 85},\n    {"name": "Bob", "grade": 92},\n    {"name": "Charlie", "grade": 78},\n    {"name": "David", "grade": 95}\n]\n\n3. Concatenate Strings\nGiven a list of strings, concatenate them into a single string using reduce.\nExample : \n\twords = ["Python", "is", "awesome", "!"]\n\n4. Find the Maximum Element\nGiven a list of numbers, find the maximum element using reduce.\nExample:\n\tnumbers = [10, 3, 25, 7, 18]\n\n5. Flatten a List of Lists\nGiven a list of lists, flatten it into a single list using reduce.\nExample:\n\tlist_of_lists = [[1, 2], [3, 4], [5, 6]]\n'

In [8]:
"""
2. Filter Students by Grade
Given a list of dictionaries, where each dictionary represents a student with name and grade keys, use filter() to extract students with a grade of 90 or higher.
Example
students = [
    {"name": "Alice", "grade": 85},
    {"name": "Bob", "grade": 92},
    {"name": "Charlie", "grade": 78},
    {"name": "David", "grade": 95}
]
"""

'\n2. Filter Students by Grade\nGiven a list of dictionaries, where each dictionary represents a student with name and grade keys, use filter() to extract students with a grade of 90 or higher.\nExample\nstudents = [\n    {"name": "Alice", "grade": 85},\n    {"name": "Bob", "grade": 92},\n    {"name": "Charlie", "grade": 78},\n    {"name": "David", "grade": 95}\n]\n'

In [9]:
"""
3. Concatenate Strings
Given a list of strings, concatenate them into a single string using reduce.
Example : 
	words = ["Python", "is", "awesome", "!"]
"""

'\n3. Concatenate Strings\nGiven a list of strings, concatenate them into a single string using reduce.\nExample : \n\twords = ["Python", "is", "awesome", "!"]\n'

In [10]:
"""
4. Find the Maximum Element
Given a list of numbers, find the maximum element using reduce.
Example:
	numbers = [10, 3, 25, 7, 18]
"""

'\n4. Find the Maximum Element\nGiven a list of numbers, find the maximum element using reduce.\nExample:\n\tnumbers = [10, 3, 25, 7, 18]\n'

In [ ]:
"""
5. Flatten a List of Lists
Given a list of lists, flatten it into a single list using reduce.
Example:
	list_of_lists = [[1, 2], [3, 4], [5, 6]]
"""