In [7]:
"""Filter and Reduce Assignment
1. Filter Strings by Length
Given a list of strings, use filter() to create a new list containing only the strings with a length greater than 5.
Example
words = ["apple", "banana", "cat", "dog", "elephant", "frog"]
"""

'Filter and Reduce Assignment\n1. Filter Strings by Length\nGiven a list of strings, use filter() to create a new list containing only the strings with a length greater than 5.\nExample\nwords = ["apple", "banana", "cat", "dog", "elephant", "frog"]\n\n2. Filter Students by Grade\nGiven a list of dictionaries, where each dictionary represents a student with name and grade keys, use filter() to extract students with a grade of 90 or higher.\nExample\nstudents = [\n    {"name": "Alice", "grade": 85},\n    {"name": "Bob", "grade": 92},\n    {"name": "Charlie", "grade": 78},\n    {"name": "David", "grade": 95}\n]\n\n3. Concatenate Strings\nGiven a list of strings, concatenate them into a single string using reduce.\nExample : \n\twords = ["Python", "is", "awesome", "!"]\n\n4. Find the Maximum Element\nGiven a list of numbers, find the maximum element using reduce.\nExample:\n\tnumbers = [10, 3, 25, 7, 18]\n\n5. Flatten a List of Lists\nGiven a list of lists, flatten it into a single list using reduce.\nExample:\n\tlist_of_lists = [[1, 2], [3, 4], [5, 6]]\n'

In [8]:
"""
2. Filter Students by Grade
Given a list of dictionaries, where each dictionary represents a student with name and grade keys, use filter() to extract students with a grade of 90 or higher.
Example
students = [
    {"name": "Alice", "grade": 85},
    {"name": "Bob", "grade": 92},
    {"name": "Charlie", "grade": 78},
    {"name": "David", "grade": 95}
]
"""

'\n2. Filter Students by Grade\nGiven a list of dictionaries, where each dictionary represents a student with name and grade keys, use filter() to extract students with a grade of 90 or higher.\nExample\nstudents = [\n    {"name": "Alice", "grade": 85},\n    {"name": "Bob", "grade": 92},\n    {"name": "Charlie", "grade": 78},\n    {"name": "David", "grade": 95}\n]\n'

In [9]:
"""
3. Concatenate Strings
Given a list of strings, concatenate them into a single string using reduce.
Example : 
	words = ["Python", "is", "awesome", "!"]
"""

'\n3. Concatenate Strings\nGiven a list of strings, concatenate them into a single string using reduce.\nExample : \n\twords = ["Python", "is", "awesome", "!"]\n'

In [10]:
"""
4. Find the Maximum Element
Given a list of numbers, find the maximum element using reduce.
Example:
	numbers = [10, 3, 25, 7, 18]
"""

'\n4. Find the Maximum Element\nGiven a list of numbers, find the maximum element using reduce.\nExample:\n\tnumbers = [10, 3, 25, 7, 18]\n'

In [ ]:
"""
5. Flatten a List of Lists
Given a list of lists, flatten it into a single list using reduce.
Example:
	list_of_lists = [[1, 2], [3, 4], [5, 6]]
"""